<form [formGroup]="ElectrolyteInfo">
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field class="medium">
                <input matInput placeholder="Sodium mEq/kg/day" formControlName="sodium" required>
            </mat-form-field>
        </div>
        <div class="pr-1">
          <mat-form-field class="medium">
              <input matInput placeholder="Total NA mEq/day" formControlName="totalsodium" required>
          </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field class="medium">
                <input matInput placeholder="potassium  mEq/kg/day" formControlName="potassium" required>
            </mat-form-field>
        </div>
        <div class="pr-1">
          <mat-form-field class="medium">
              <input matInput placeholder="Total K  mEq/day" formControlName="totalpotassium" required>
          </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field class="medium">
                <input matInput placeholder="calcium mEq/kg/day" formControlName="calcium" required>
            </mat-form-field>
        </div>
        <div class="pr-1">
          <mat-form-field class="medium">
              <input matInput placeholder="Total Ca  mEq/day" formControlName="totalcalcium" required>
          </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field class="medium">
                <input matInput placeholder="phosphorus mMol/kg/day" formControlName="phosphorus" required>
            </mat-form-field>
        </div>
        <div class="pr-1">
          <mat-form-field class="medium">
              <input matInput placeholder="Total Ph mMol/day" formControlName="totalphosphorus" required>
          </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field class="medium">
                <input matInput placeholder="acetate mEq/kg/day (max {{ElectrolyteInfo.get('maxacetate').value}} )" formControlName="acetate" required>
            </mat-form-field>
        </div>
        <div class="pr-1">
          <mat-form-field class="medium">
              <input matInput placeholder="Total acetate mEq/day" formControlName="totalacetate" required>
          </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field class="medium">
                <input matInput placeholder="magnesium mEq/kg/day" formControlName="magnesium" required>
            </mat-form-field>
        </div>
        <div class="pr-1">
          <mat-form-field class="medium">
              <input matInput placeholder="Total Mg mEq/day" formControlName="totalmagnesium" required>
          </mat-form-field>
      </div>
    </div>
</form>
