p-panel >>> .ui-panel {
  margin-top: 1em;
  width: 100%;
  min-height: 320px;
}

.ui-g {
  padding: 4px;
}


.icon {
  font-size: 80px;
  margin: 0px;
  padding: 5px;
  background:rgba(0,0,0,.1);
}


