
<div class="ui-g ui-g-nopad" id="header">
    <div class="ui-g-10">
      PLACEHOLDER LLC
    </div>
    <div class="ui-g-2" id="notifications">
    </div>
</div>

<div class="ui-g ui-g-nopad">


          <div class="ui-g-2 ui-g-nopad" id="sidegutter">
                <top-nav></top-nav>
          </div>

          <div class="ui-g-2 ui-md-2 ui-g-nopad" id="minigutter">
                <top-nav></top-nav>
          </div>

    <div id="content-body" class="ui-g-10 ui-g-nopad">
        <router-outlet></router-outlet>
    </div>

</div>

<div class="ui-g ui-g-nopad" id="footer">
    <div  class="ui-g-12 ui-g-nopad">
      <footer-nav></footer-nav>
    </div>
</div>

