
<div style="width: 216mm; height: 279mm" class="letter">

<form [formGroup]="TPNPrintout">
    <div class="d-flex flex-row justify-content-between">
        <div style="width: 100mm" class="d-flex p-5 flex-column border">
          Patient ID <br>
          Patient Name<br>
          DOB:<br>
          CSN NO.<br>
          MR NO:<br>
          Room No:<br>
        </div>

        <div style="width: 100mm" class="d-flex p-5 flex-column border">
          Hospital Logo<br>
          Hospital Name<br>
          Parental Nutrion Order<br>
        </div>
    </div>
    <div style="text-align:center" class="d-flex justify-content-center flex-row">
      Neo/adolescent/Adult Total Parental Nutrition Order Form<br>
      Chart Copy
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div style="width: 100mm" class="d-flex flex-column align-content-center border">
          TPN Route<br>
          Amino Acids<br>
          Dextrose<br>
          Fat Emulsion<br>
          Volume<br>
        </div>
        <div style="width: 100mm" class="d-flex flex-column align-content-center border">
          TPN Additives<br>
          Dextrose<br>
          Trophamine<br>
          L-Cysteine<br>
          Sodium<br>
          Potassium<br>
          Calcium<br>
          Phosphate<br>
          Acetate<br>
          Magnesium<br>
          Chloride<br>
          Heparin<br>
          MVI Pediatric<br>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div style="width: 100mm" class="d-flex flex-column align-content-center border">
          Distribution<br>
                        Fluids	Calories	GIR *	  Na<br>
                        ml/k/d	cal/k/d	mg/k/min	mEq/k/d<br>
          TPN (Dext/AA)		110	66	11	3 + (0.15)<br>
          Lipids		15	30<br>
          Enteral feeds		NPO<br>
          Non-TPN IV drips		0<br>
          TOTAL		125	96	11	3.1546<br>

        </div>
        <div style="width: 100mm" class="d-flex flex-column align-content-center border">
          Laboratory Values<br>
            Na --		 Mg --		 Gluc --<br>
            K --		 Ca --		 Prealbumin --<br>
            Bicarb --		 Phos --		 Trigly --<br>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div style="width: 100mm" class="d-flex flex-column align-content-center border">
          Nutritional Summary<br>
          TPN Calories from Proteins<br>
          TPN Calories from Lipids<br>
          TPN Calories from Dextrose<br>
          <br>
          Non-protein Calorie : N2 ratio (TPN)<br>
          <br>
          Calcium: Phos ratio (TPN+Feeds)<br>
          Osmolality mOsm/L (approx)<br>
        </div>
        <div style="width: 100mm" class="d-flex flex-column align-content-center border">
          Signature Section<br>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="pr-1">
          Row 5
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="pr-1">
          Row 6
        </div>
    </div>

</form>
</div>
