<form [formGroup]="AdditiveInfo">

    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="heparin" formControlName="heparin" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Units" formControlName="heparinunit" required>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="multiVitamin" formControlName="multiVitamin" required>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="traceelements" formControlName="traceelements" required>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="zinc" formControlName="zinc" required>
            </mat-form-field>

        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="ironeDextran" formControlName="ironeDextran" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Units" formControlName="ironeDextranunit" required>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="carnitine" formControlName="carnitine" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Units" formControlName="carnitineunit" required>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="selenium" formControlName="selenium" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Units" formControlName="seleniumunit" required>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="pr-1">
            <mat-form-field>
                <input matInput placeholder="famotidine" formControlName="famotidine" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Units" formControlName="famotidineunit" required>
            </mat-form-field>
        </div>
    </div>
</form>
